.repo-heading {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  border: 0.5px solid grey;
  border-collapse: collapse;
}

.repo-heading {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.commit-item {
  display: flex;
  justify-content: space-between;
}
